<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsebttVG0hD4pU8S6mRWlf4o4Hk7kO1Lg</string>
	<key>GCM_SENDER_ID</key>
	<string>968175745771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.argoSmartV1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>demotestlogin-a1e61</string>
	<key>STORAGE_BUCKET</key>
	<string>demotestlogin-a1e61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968175745771:ios:f7554dac09c7466e9a9cae</string>
</dict>
</plist>